$white: '#FFF';

.wprf-control-section  {
	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

.wprf-control-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	.wprf-control-label {
		flex-basis: 20%;
		font-weight: 700;
	}
	.wprf-control-field {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		flex-basis: 80%;
		.wprf-description {
			margin-left: 10px;
			font-size: 12px;
			margin-bottom: 0;
			margin-top: 0;
		}
		.wprf-help {
			margin: 0;
			margin-top: 5px;
			display: block;
			flex-basis: 100%;
			font-size: 12px;
		}
	}
	&.wprf-type-radio-card {
		display: block;
		div.wprf-control-field {
			display: block;
		}
	}
}

.wprf-control {
	margin-bottom: 20px;
	&:last-of-type {
		margin-bottom: 0px;
	}
	.wprf-control-label {
		margin-top: 0;
		margin-bottom: 0;
	}
	.wprf-input-field {
		box-shadow: none;
		border: 1px solid #f2f2f2;
		transition: border linear 0.2s, box-shadow linear 0.2s;
		padding: 8px;
		line-height: 1;
		font-size: 14px;
		margin: 0px;
		&.wprf-large {
			width: 100%;
		}
		&:focus {
			box-shadow: none;
			outline: none;
		}
	}
	.clearfix {
		&::after, &::before {
			display: table;
			content: "",
		}
		&::after {
			clear: both;
		}
	}
	.wprf-input-label {
		display: block;
		margin-bottom: 10px;
		.wprf-label-image {
			max-width: 100%;
		}
		.wprf-badge {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: hidden;
			.wprf-badge-item {
				font-size: 14px;
				color: #ffffff;
				text-transform: uppercase;
				text-align: center;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				position: absolute;
				top: 8px;
				left: -20px;
				width: 80px;
				background-image: -moz-linear-gradient(-122deg,
						rgb(146, 113, 255) 0%,
						rgb(87, 37, 255) 100%);
				background-image: -webkit-linear-gradient(-122deg,
						rgb(146, 113, 255) 0%,
						rgb(87, 37, 255) 100%);
				background-image: -ms-linear-gradient(-122deg,
						rgb(146, 113, 255) 0%,
						rgb(87, 37, 255) 100%);
				background-image: linear-gradient(-122deg,
						rgb(146, 113, 255) 0%,
						rgb(87, 37, 255) 100%);
				box-shadow: 0px 3px 7px 0px rgba(0, 5, 41, 0.1);
				color: #fff;
				height: 30px;
				line-height: 30px;
				left: -29px;
				width: 100px;
				z-index: 9;
				&.wprf-badge-active {
					background-color: #0ccf9f;
					background-image: none;
				}
			}
		}
	}
	.wprf-row {
		margin-left: -10px;
		margin-right: -10px;
		.wprf-column {
			padding-left: 10px;
			padding-right: 10px;
			box-sizing: border-box;
			width: 20%;
			&.wprf-column-1 {
				width: 8.3333%;
			}
			&.wprf-column-2 {
				width: 16.6667%;
			}
			&.wprf-column-3 {
				width: 25%;
			}
			&.wprf-column-4 {
				width: 33.3333%;
			}
			&.wprf-column-5 {
				width: 41.6667%;
			}
			&.wprf-column-6 {
				width: 50%;
			}
			&.wprf-column-7 {
				width: 58.3333%;
			}
			&.wprf-column-8 {
				width: 66.6667%;
			}
			&.wprf-column-9 {
				width: 75%;
			}
			&.wprf-column-10 {
				width: 83.3333%;
			}
			&.wprf-column-11 {
				width: 91.6667%;
			}
			&.wprf-column-12 {
				width: 100%;
			}
		}
	}
	.wprf-flex {
		display: flex;
		flex-wrap: wrap;
	}
	.wprf-error-message {
		color: red
	}
	&.wprf-submit {
		margin-top: 30px;
		button.wprf-submit-button {
			padding: 10px 20px;
			border: none;
		}
	}
}

.wprf-control-section  {
	margin-bottom: 20px;
    border: 1px solid #f7f7f7;
    padding-bottom: 20px;
    position: relative;
	& > div.wprf-section-title {
		h4 {
			display: block;
			color: #516378;
			margin-bottom: 20px;
			text-transform: uppercase;
			padding-bottom: 0;
			background: #f8fafb;
			padding: 14px;
			letter-spacing: 2px;
			font-weight: 700;
			margin-top: 0px;
		}
	}
	& > div.wprf-section-fields {
		padding-left: 20px;
		padding-right: 20px;
	}
}