
.wprf-slider-wrap {
    padding: 10px;
    .wprf-slider-control-head {
        display: flex;
        flex-wrap: wrap;
        .wprf-slider-units {
            margin-left: auto;
            margin-bottom: 8px;
    
            button {
                border: none;
                background: transparent;
                color: #007cba;
                outline: none;
                cursor: pointer;
                font-size: 11px;
                &.unit-active {
                    font-weight: 700;
                }
            }
        }
    }
    .wprf-slider-control {
        overflow: hidden;
        .components-base-control {
            float: left;
            width: calc(100% - 75px);
        }
        .wprf-slider-control-reset-button {
            background: #ffffff;
            color: #006ba1;
            height: 30px;
            line-height: 22px;
            padding: 0 8px;
            font-size: 11px;
            outline: 1px solid transparent;
            border-radius: 2px;
            border: 1px solid;
            cursor: pointer;
            margin-left: 30px;
        }
    }
}