
.wprf-slider-wrap {
    .wprf-slider-control-head {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        & > .wprf-input-label {
            margin-bottom: 0px;
        }
        .wprf-slider-units {
            margin-left: auto;
            button {
                border: none;
                background: transparent;
                color: #007cba;
                outline: none;
                cursor: pointer;
                font-size: 11px;
                &.unit-active {
                    font-weight: 700;
                }
            }
        }
    }
    .wprf-slider-control {
        display: flex;
        .components-base-control {
            float: left;
            flex: 1;
            margin: 1px;
            & > div {
                margin-bottom: 0px;
                & > span {
                    display: flex;
                }
            }
        }
        .wprf-slider-control-reset-button {
            background: #ffffff;
            color: #006ba1;
            height: 30px;
            line-height: 22px;
            padding: 0 8px;
            font-size: 11px;
            outline: 1px solid transparent;
            border-radius: 2px;
            border: 1px solid;
            cursor: pointer;
            margin-left: 10px;
        }
    }
}