.wprf-group-control {
    &.wprf-inline {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .wprf-control {
            flex: 1;
            margin-bottom: 0px;
            flex-basis: 160px;
        }
    }
}