.wprf-typography-wrap {
    padding: 10px 0;
    margin: 5px 0;
    position: relative;
    .wprf-typography-modal {
        position: absolute;
        width: 260px;
        background: #fff;
        padding: 12px;
        h5 {
            margin: 0;
        }
    }
}