// TAB NAV

$tab_nav_bg_color: #FFF;
$tab_nav_border_bottom_color: #000;

$tab_menu_font_size: 15px;
$tab_menu_font_weight: 500;

$tab_menu_bg_color: #f8fafb;
$tab_menu_bg_active_color: #FFF;

$tab_menu_fg_color: #516378;
$tab_menu_fg_active_color: $tab_menu_fg_color;

$tab_menu_border_color: $tab_menu_bg_color;
$tab_menu_active_border_color: #6648fe;


// TAB CONTENT

$tab_content_bg_color: #FFF;

$primary_bg_color: #6648fe; // NX BG
$primary_bg_active_color: #6044ea; // NX BG HOVER
$primary_bg_active_text_color: #FFF; // NX BG HOVER

// FIELDS
// DateTime
$datetimecolor: $primary_bg_color;
$datetime_day_highlight : $primary_bg_color;