.notifications-type {
    &.style-card {
        .components-radio-control__option {
            display: inline-block;
            width: 228px;
            height: 80px;
            border: 1px solid #f2f2f2;
            background: #fff;
            position: relative;
            margin: 10px;
            label {
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .components-radio-control__input {
            display: none;
            &:selected+label {
                background-color: #0ccf9f;
                color: #fff;
            }
        }
    }
}